* {
    margin: 0;
    --nav-bg: #B8B4AE; /* bg color of the navbar */
    --nav-item-bg: #A09B93; /* bg color of navbar items */
    --nav-item-fg: darkslateblue;
    --nav-item-hover-bg: #ACA79F; /* bg color of navbar items when hover */
    --nav-item-hover-fg: slateblue;
    --nav-item-active-bg: #C3C1BD; /* bg color of navbar items when clicked */
    --nav-item-active-fg: #7362de;

    --background: darkgrey;
    --text-border: darkslateblue;
    --text-bg: var(--background);

    --vivid-col: darkslateblue;
    --high-col: darkcyan;
    --medium-col: steelblue;
    --low-col: slategray;
    --smooth-col: darkslategrey;


}

body {
    background-color: var(--background);
    margin: 0px;
    display: flex;
}



/* ⣏⡉ ⡇  ⣏⡉ ⢇⡸   ⣏⡱ ⣏⡱ ⡎⢱ ⣏⡱ ⣏⡉ ⣏⡱ ⢹⠁ ⡇ ⣏⡉ ⢎⡑ */
/* ⠇  ⠧⠤ ⠧⠤ ⠇⠸   ⠇  ⠇⠱ ⠣⠜ ⠇  ⠧⠤ ⠇⠱ ⠸  ⠇ ⠧⠤ ⠢⠜ */

.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}



/* ╺┳╸┏━╸╻ ╻╺┳╸   ┏━╸┏━┓┏┓╻╺┳╸┏━┓╻┏┓╻┏━╸┏━┓ *
 *  ┃ ┣╸ ┏╋┛ ┃    ┃  ┃ ┃┃┗┫ ┃ ┣━┫┃┃┗┫┣╸ ┣┳┛ *
 *  ╹ ┗━╸╹ ╹ ╹    ┗━╸┗━┛╹ ╹ ╹ ╹ ╹╹╹ ╹┗━╸╹┗╸ */

.container {
    flex-grow: 3;
    flex-shrink: 4;
    padding-top: 10vw;
    margin-top: 20px;
    display: inline-block;
    font-family: "Lucida Console", "Courier", monospace;
    font-size: 13pt;
    background-color: var(--text-bg);
}


.contents {
    margin: 2vw;
    padding: 1vw;
    border: 4px solid black;
    border-radius: 0.7vw;
}


/* ⢹⠁ ⡇ ⢹⠁ ⡇  ⣏⡉ ⢎⡑ *
 * ⠸  ⠇ ⠸  ⠧⠤ ⠧⠤ ⠢⠜ */

h1 {
    color: var(--vivid-col);
    font-size: 50pt;
}

h2 {
    color: var(--high-col);
    font-size: 35pt;
}

h3 {
    color: var(--medium-col);
    font-size: 30pt;
}

h4 {
    color: var(--low-col);
    font-size: 25pt;
}

h5 {
    color: var(--smooth-col);
    font-size: 20pt;
}

h6 {
    font-size: 15pt;
}


/* ⡇  ⡇ ⡷⣸ ⣇⠜ ⢎⡑   ⡇ ⡷⣸ ⢎⡑ ⡇ ⡏⢱ ⣏⡉   ⢹⠁ ⡇ ⢹⠁ ⡇  ⣏⡉ ⢎⡑ */
/* ⠧⠤ ⠇ ⠇⠹ ⠇⠱ ⠢⠜   ⠇ ⠇⠹ ⠢⠜ ⠇ ⠧⠜ ⠧⠤   ⠸  ⠇ ⠸  ⠧⠤ ⠧⠤ ⠢⠜ */

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    text-decoration: none;
    color: inherit;
}

h1:hover > a,
h2:hover > a,
h3:hover > a,
h4:hover > a,
h5:hover > a,
h6:hover > a {
    filter: brightness(1.1);
    transition-duration: 0.2s;
}


/* ⡏⢱ ⣎⣱ ⢹⠁ ⣎⣱   ⢹⠁ ⣎⣱ ⣏⡱ ⡇  ⣏⡉ ⢎⡑ */
/* ⠧⠜ ⠇⠸ ⠸  ⠇⠸   ⠸  ⠇⠸ ⠧⠜ ⠧⠤ ⠧⠤ ⠢⠜ */

table {
    border: 4px solid black;
    border-radius: 0.7vw;
    padding: 4px;
    border-collapse: collapse;
}

table > tbody > tr > td,
table > thead > tr > td {
    border: 1px solid black;
    margin: 0px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    /* background-color: red; */
}



/* ┏━╸┏━┓┏━┓┏┳┓┏━┓ */
/* ┣╸ ┃ ┃┣┳┛┃┃┃┗━┓ */
/* ╹  ┗━┛╹┗╸╹ ╹┗━┛ */


form {
    display: block;
    border: 4px solid black;
    border-radius: 0.7vw;
    padding: 1vw;
    margin: 1vw;
    font-size: 20pt;
}

form > div.flex-container {
    display: flex;
    flex-direction: column;
}

form > div.flex-container > div {

}


input.submit {
    font-size: 20pt;
    font-family: inherit;
    padding: 0.3vw;
    border-radius: 0.7vw;
}

.checkbox {
    zoom: 1.3;
    z-index: 0;
}


form > div.flex-container > div.small {
    font-size: 12pt;
}

/* ┏┓╻┏━┓╻ ╻┏┓ ┏━┓┏━┓ */
/* ┃┗┫┣━┫┃┏┛┣┻┓┣━┫┣┳┛ */
/* ╹ ╹╹ ╹┗┛ ┗━┛╹ ╹╹┗╸ */

.navbar {
    position: fixed;
    list-style-type: none;
    display: flex !important;
    flex-wrap: nowrap;
    gap: 1vw; /* gap between the flexbox items */
    margin: 0px;
    padding: 1vw; /* looks good when padding=gap */
    padding-bottom: 1.5vw;
    width: 98vw; /* have to take padding into account */
    background-color: var(--nav-bg);
    border-bottom: 0.3vw solid black;
    border-radius: 1vw;
}

.navbar > .menu_item {
    /* float: left; */
    display: flex;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: space-evenly;
    background-color: var(--nav-item-bg);
    border-radius: 1vw;
    box-shadow: 0 0.7vw black;
}

.navbar > .menu_item:hover {
    background-color: var(--nav-item-hover-bg);
    transition-duration: 0.2s;
}
.navbar > .menu_item:hover > a {
    color: var(--nav-item-hover-fg);
    /* transition-duration: 0.2s; */
    transition-duration: inherit;
}


.navbar > .menu_item:active {
    background-color: var(--nav-item-active-bg);
    transform: translateY(0.4vw) ;
    box-shadow: 0 0.3vw;
    transition-duration: 0.1s;
}
.navbar > .menu_item:active > a {
    color: var(--nav-item-active-fg);
}


.navbar > .menu_item > a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    font-family: "Lucida Console", "Courier", monospace;
    color: var(--nav-item-fg);
    background-color: inherit;
}



/* ┏━┓┏━┓╻     ┏━┓┏━╸┏━┓╻ ╻╻  ╺┳╸┏━┓ */
/* ┗━┓┃┓┃┃     ┣┳┛┣╸ ┗━┓┃ ┃┃   ┃ ┗━┓ */
/* ┗━┛┗┻┛┗━╸   ╹┗╸┗━╸┗━┛┗━┛┗━╸ ╹ ┗━┛ */

.nb_resultats {
    font-size: 2vw;
}

.line_through { /* for the properties that are false */
    text-decoration: line-through;
    /* text-decoration-thickness: 2px; */
    /* text-decoration-color: darkred; */
    color: #555;
}


/* ⣇⠜ ⣏⡉ ⢇⢸ ⣏⡱ ⡎⢱ ⣎⣱ ⣏⡱ ⡏⢱ ⢎⡑ */
/* ⠇⠱ ⠧⠤  ⠇ ⠧⠜ ⠣⠜ ⠇⠸ ⠇⠱ ⠧⠜ ⠢⠜ */

.keyboard {  /* container for the keyboard info */
    display: flex;
    flex-direction: column;
    flex-gap: 6vw;
    margin: 1vw;
    padding: 1vw;
    border: 4px solid black;
    border-radius: 0.7vw;
}

.keyboard > .flex-row > .flex-column {
    /* margin-right: 6vw; */
}

.keyboard > .flex-row > .flex-column > img {
    width: 30vw;
}

.keyboard > .flex-row > .flex-column > .nom { /* name of the keyboard */
    font-size: 25pt;
}



.keyboard > .flex-row > .flex-column > .marque { /* name of the mouse */
    font-size: 17pt;
}

.keyboard > .flex-row > .flex-column > .prix { /* name of the mouse */
    text-decoration: underline;
}



/* ⡷⢾ ⡎⢱ ⡇⢸ ⢎⡑ ⣏⡉ ⢎⡑ */
/* ⠇⠸ ⠣⠜ ⠣⠜ ⠢⠜ ⠧⠤ ⠢⠜ */


.mouse {  /* container for the mouse info */
    display: flex;
    flex-direction: column;
    flex-gap: 6vw;
    margin: 1vw;
    padding: 1vw;
    border: 4px solid black;
    border-radius: 0.7vw;
}


.mouse > .flex-row > .flex-column > img {
    width: 30vw;
}

.mouse > .flex-row > .flex-column > .nom { /* mouse name */
    font-size: 25pt;
}


.mouse > .flex-row > .flex-column > .marque { /* mouse brand */
    font-size: 17pt;
}

.mouse > .flex-row > .flex-column > .prix { /* mouse price */
    text-decoration: underline;
}


.mouse > .flex-row > .flex-column > .type { /* mouse type : trackball, trackpad, mouse */
    font-weight: bold;
}

